<launch>
  <node pkg="pose_estimation_odom" name="encoder" type="encoder" output="screen" />
  <node pkg="pose_estimation_odom" name="teleop_motor_control_node" type="teleop_motor_control_node" output="screen" />
  <node pkg="pose_estimation_odom" name="pose_estimator_node" type="pose_estimator_node" output="screen" />
</launch>
